<p>
  detail works!
</p>
<section class="gridArea">
  <div id="photo">
    
  </div>

  <div id="songlist">

    <table>
        <tr>
            <td>Customer Name : </td>
        </tr>
        <tr>
            <td>Customer Email : </td>
        </tr>
        <tr>
            <td>Room Name : </td>
        </tr>
        <tr>
            <td>Width : </td>
        </tr>
        <tr>
            <td>Length : </td>
        </tr>

        <tr>
            <td>Color : </td>
        </tr>
        </table>
  