

    section{
        width: 100%;
        display: table;
        margin: 0;
        max-width: none;
        height: 80vh;
    }
   .head {
       
        background-color: 	#C0C0C0;
        max-width: none;
        height: 10vh;
    }
  
    #content {
        
        background-color: #FFFACD;
        
    }

    .footer {
        
        background-color: #C0C0C0;
        max-width: none;
        height: 10vh;
    } 

  .SaveToStorageButton {
    cursor:pointer;
    object-fit: cover;
    width: 100%;
    height: 50px;
}

