.gridContainer { 
    display: grid; 
    grid-template-columns: 40% 25% 35%;
    grid-template-areas: 
       "head head head"
       "column1 column2 column3"
       "footer footer footer";
       grid-gap: 3px;
    
   }

    section{
        width: 100%;
        display: table;
        margin: 0;
        max-width: none;
        height: 80vh;
    }
   .head {
        grid-area: head;
        background-color: 	#C0C0C0;
        max-width: none;
        height: 10vh;
    }
  
    #column1 {
        grid-area: column1;
        background-color: #FFFACD;
        
    }

    #column2 {
        grid-area: column2;
        background-color: #FA8072;
    }

    #column3 {
        
        grid-area: column3;
        background-color: #F0E68C;
    }

    .footer {
        grid-area: footer;
        background-color: #C0C0C0;
        max-width: none;
        height: 10vh;
    } 

  .SaveToStorageButton {
    background:url(../images/BtnSaveToStorage.jpg) no-repeat;
    cursor:pointer;
    object-fit: cover;
    width: 100%;
    height: 50px;
    border: none;
}

.RetrieveFromStorageButton {
    background:url(../images/RetrieveStorageButton.png) no-repeat;
    cursor:pointer;
    object-fit: cover;
    width: 100%;
    height: 50px;
    border: none;
}

.ClearCountryFromStorageButton {
    background:url(../images/ClearCountryStorageButton.png) no-repeat;
    cursor:pointer;
    object-fit: cover;
    width: 100%;
    height: 50px;
    border: none;
}